/* MentorProfile.css */

/* General Styles */
.mentor-card {
    background-color: #102836 !important;
    color: white !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.mentor-avatar img {
    border: 4px solid #102836 !important;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3)) !important;
}

.personal-details .list-group-item, .social-networks .list-group-item {
    background-color: transparent !important;
    color: white !important;
    border: none;
}

svg{
    padding: 0.25%;
    
}
.social-networks .list-group-item a {
    color: #1e90ff;
    text-decoration: none;
}

.social-networks .list-group-item a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 767.98px) {
    .mentor-avatar {
        margin-bottom: 1rem;
    }

    .mentor-card {
        padding: 10px;
    }

    .social-networks .list-group-item {
        padding: 0.5rem;
    }
}
